workflows/n8n/supabase-monitor-workflow.json
{
  "name": "Borboleta MCP - Supabase Functions Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        }
      },
      "name": "Check Functions Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check if Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_GATEWAY_URL }}/alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "level",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Supabase Functions Error Detected"
            },
            {
              "name": "details",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "name": "Send Alert to MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_GATEWAY_URL }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service",
              "value": "supabase-functions"
            },
            {
              "name": "status",
              "value": "healthy"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "name": "Update Healthy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        320
      ]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "Check Functions Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Functions Health": {
      "main": [
        [
          {
            "node": "Check if Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Error": {
      "main": [
        [
          {
            "node": "Send Alert to MCP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Healthy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "borboleta-supabase-monitor",
  "tags": ["borboleta", "supabase", "monitoring", "mcp", "health"]
}
